* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to right);
}

.clock {
    width: 300px;
    height: 300px;
    background-color: rgba(500);
    border-radius: -50%;
    border: 2px solid black;
    position: relative; 
}
